---
layout: archive
title: "posts"
permalink: /posts/
author_profile: true
---

{% for post in site.posts %} 
	
	   <!-- Twitter cards -->
	<meta name="twitter:site"    content="@{{ site.twitter_username }}">
 	<meta name="twitter:creator" content="@{{ post.author }}">
 	<meta name="twitter:title"   content="{{ post.title }}">

	{% if post.summary %}
  		<meta name="twitter:description" content="{{ post.summary }}">
  	{% else %}
  		<meta name="twitter:description" content="{{ site.description }}">
  	{% endif %}

  	{% if post.image %}
  		<meta name="twitter:card"  content="summary_large_image">
  		<meta name="twitter:image" content="{{ post.image }}">
  	{% else %}
  		<meta name="twitter:card"  content="summary">
  		<meta name="twitter:image" content="{{ site.teaser}}">
  	{% endif %}
  <!-- end of Twitter cards -->

	{% include archive-single.html %} 
	{% if post.comments %}
	<div id="disqus_thread"></div>
	<script>
	    /**
	    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
	    /*
	    var disqus_config = function () {
	    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
	    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	    };
	    */
	    (function() { // DON'T EDIT BELOW THIS LINE
	    var d = document, s = d.createElement('script');
	    s.src = 'https://myrthereuver.disqus.com/embed.js';
	    s.setAttribute('data-timestamp', +new Date());
	    (d.head || d.body).appendChild(s);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
{% endfor %}

{% capture written_label %}'None'{% endcapture %}

